@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Indeavor is a United States based software company, with offices in New York, NY, Madison, WI, and Athens, Greece. We create enterprise workforce management applications, which are key operational/analytical workforce tools for Fortune 100 customers throughout the United States. By handling scheduling complexity through advanced automation, we ensure our customers always have the right person, in the right place, at the right time, making the working life of thousands of professionals over the world easier, with one click of a button.

        At Indeavor we strive to empower our employees, as well. That’s where all of the magic comes from. With our employee-first culture and team-focused mindset, our goal is to ensure that we uphold an inclusive environment where all people feel respected and valued, have opportunities to achieve their goals and develop creative and innovative ideas.

        We are an equal opportunity employer and value diversity. We welcome applicants of any educational background, gender identity and expression, sexual orientation, religion, ethnicity, age, citizenship, socioeconomic status or disability status, and we'd love to learn about what you can add to our team. All employment is decided based on qualifications, merit and business need.
    </p>
</div>
