<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - Indeavor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/bootbox.js/bootbox.js"></script>
    <script src="~/datatables/js/jquery.dataTables.js"></script>


    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Layout/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Layout/css/styles.css" rel="stylesheet" />

</head>



<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger " asp-area="" asp-controller="Home" asp-action="Index">Indeavor</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger " asp-area="" asp-controller="Skills" asp-action="Index">Skills</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger " asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
      
    </header>



 



        <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>




        @RenderSection("Scripts", required: false)

    </body>
</html>
