@model CoreInde.Models.Employees

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FistName" class="control-label"></label>
                <input asp-for="FistName" class="form-control" />
                <span asp-validation-for="FistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <input value="Delete" id="deleteButton" class="btn btn-primary">

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $("#deleteButton").on("click", function () {
            function getLastNumberOfString(str) {
                var allNumbers = str.replace(/[^0-9]/g, ' ').trim().split(/\s+/);
                return parseInt(allNumbers[allNumbers.length - 1], 10);
            }
            var href = $(location).attr('href');
            let id = getLastNumberOfString(href);

            bootbox.confirm("Are you sure you want to delete this employee?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/EmployeesApi/" + id,
                        method: "DELETE",
                        success: function () {
                            console.log('success');
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }


            });

        });

    });
</script>